@using Imc.Model
@if (ShowModal)
{
    <div class="modal fade show" id="myModal" style="display:block; width:353px; margin: 20px" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">@HistoryText.Title</h4>
                    @* <button type="button" class="close" @onclick="@ModalOk">&times;</button> *@
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="history-div-text">
                        @HistoryText.Text
                        <br/>
                        @* <hr class="hr-gray"> *@
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-info mybtn-modal" @onclick=@ModalOk>Fechar</button>
                </div>

            </div>
        </div>
    </div>
}

@code
{
    [Parameter] public bool ShowModal { get; set; } = false;

    [Parameter] public HistoryText HistoryText { get; set; } = null;

    [Parameter] public EventCallback<bool> ShowModalChanged { get; set; }

    public void ModalShow() => ShowModal = true;
    public void ModalCancel() => ShowModal = false;

    void ModalOk()
    {
        Console.WriteLine("Modal ok");
        ShowModal = false;
        ShowModalChanged.InvokeAsync(ShowModal);
    }
}