<div>
    <button type="@TypeButton" class="botao @TipoBotao" @onclick="OnClickCallback">@Texto</button>
</div>

@code {

    [Parameter] public string TipoBotao { get; set; } = "botao-ok";

    [Parameter] public string Texto { get; set; } = "StringButton";

    [Parameter]
    public EventCallback OnClickCallback { get; set; } // this is where to you pass the parent function to be executed as a callback

    
    // 1 - button 2- reset 3- submit
    [Parameter] public string TypeButton { get; set; } = "button";
    

}